.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.ui.header {
  padding: 1rem 0!important;
  font-size: 5rem !important;
  color: rgb(172, 172, 172) !important;
}


.nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1 !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0 !important;
}

.body {
  padding-top: 21rem !important;
}


.ui.button {
  margin: 0rem 0 1rem 0 !important;
  padding: 1.5rem 3rem !important;
}

.button.red {
  margin-bottom: 0 !important;
  padding: 1rem 6rem!important;
}


